---
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Formatter } from "@/utils/formatter";
import { siteConfig } from "@/config/siteConfig";
import MainLayout from "@/layouts/MainLayout.astro";
import BlogPost from "@/components/BlogPost.astro";


export const getStaticPaths = (async() => {
    const postsP = getCollection('blog');
    const authorP = getCollection('author');

    const [posts, author] = await Promise.all([postsP, authorP]);
    return author.map((author) => ({
        params: { author: author.id },
        props: { posts: posts.filter((post) => post.data.author.id === author.id), author: author.data }
    }))
}) satisfies GetStaticPaths;

const { posts, author } = Astro.props;

---

<MainLayout>
    <section class="bg-gray-900">
      <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
          {author.name + " - Posts"}
        </h1>

        <a href="/">Regresar</a>
  
        <div class="text-md text-gray-400 mb-0 flex flex-row mt-4">
          <Image
            class="rounded-full"
            src={author.avatar}
            alt={author.name}
            width={50}
            height={50}
          />
  
          <div class="flex flex-col ml-5">
            <a>{author.name}</a>
            <span>Listado de todos mis posts</span>
          </div>
        </div>
  
        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
          {posts.map((post) => <BlogPost post={post} />)}
        </div>
      </div>
    </section>
  </MainLayout>
  
  <style is:global>
    a {
      @apply text-blue-500 hover:underline;
    }
  </style>

