---
import { siteConfig } from "@/config/siteConfig";
import MainLayout from "@/layouts/MainLayout.astro";
import BlogPost from "@/components/BlogPost.astro";
import BlogPostOld from "@/components/BlogPost-old.astro";

const posts = await Astro.glob('./old-posts/*.{md,mdx}')
---

<MainLayout title="Miguel Blog">
	<!-- component -->
<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{siteConfig.title}</h1>

        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
			{
				posts.map((post) => (
					<BlogPostOld {...post} />
				))
			}
        </div>
    </div>
</section>
</MainLayout>
